.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px; } }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

.no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%; }

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none; }

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%; }

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%; }

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%; }

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%; }

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.order-first {
  order: -1; }

.order-last {
  order: 13; }

.order-0 {
  order: 0; }

.order-1 {
  order: 1; }

.order-2 {
  order: 2; }

.order-3 {
  order: 3; }

.order-4 {
  order: 4; }

.order-5 {
  order: 5; }

.order-6 {
  order: 6; }

.order-7 {
  order: 7; }

.order-8 {
  order: 8; }

.order-9 {
  order: 9; }

.order-10 {
  order: 10; }

.order-11 {
  order: 11; }

.order-12 {
  order: 12; }

.offset-1 {
  margin-left: 8.3333333333%; }

.offset-2 {
  margin-left: 16.6666666667%; }

.offset-3 {
  margin-left: 25%; }

.offset-4 {
  margin-left: 33.3333333333%; }

.offset-5 {
  margin-left: 41.6666666667%; }

.offset-6 {
  margin-left: 50%; }

.offset-7 {
  margin-left: 58.3333333333%; }

.offset-8 {
  margin-left: 66.6666666667%; }

.offset-9 {
  margin-left: 75%; }

.offset-10 {
  margin-left: 83.3333333333%; }

.offset-11 {
  margin-left: 91.6666666667%; }

@media (min-width: 576px) {
  .col-sm {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-sm-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-sm-first {
    order: -1; }

  .order-sm-last {
    order: 13; }

  .order-sm-0 {
    order: 0; }

  .order-sm-1 {
    order: 1; }

  .order-sm-2 {
    order: 2; }

  .order-sm-3 {
    order: 3; }

  .order-sm-4 {
    order: 4; }

  .order-sm-5 {
    order: 5; }

  .order-sm-6 {
    order: 6; }

  .order-sm-7 {
    order: 7; }

  .order-sm-8 {
    order: 8; }

  .order-sm-9 {
    order: 9; }

  .order-sm-10 {
    order: 10; }

  .order-sm-11 {
    order: 11; }

  .order-sm-12 {
    order: 12; }

  .offset-sm-0 {
    margin-left: 0; }

  .offset-sm-1 {
    margin-left: 8.3333333333%; }

  .offset-sm-2 {
    margin-left: 16.6666666667%; }

  .offset-sm-3 {
    margin-left: 25%; }

  .offset-sm-4 {
    margin-left: 33.3333333333%; }

  .offset-sm-5 {
    margin-left: 41.6666666667%; }

  .offset-sm-6 {
    margin-left: 50%; }

  .offset-sm-7 {
    margin-left: 58.3333333333%; }

  .offset-sm-8 {
    margin-left: 66.6666666667%; }

  .offset-sm-9 {
    margin-left: 75%; }

  .offset-sm-10 {
    margin-left: 83.3333333333%; }

  .offset-sm-11 {
    margin-left: 91.6666666667%; } }
@media (min-width: 768px) {
  .col-md {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-md-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-md-first {
    order: -1; }

  .order-md-last {
    order: 13; }

  .order-md-0 {
    order: 0; }

  .order-md-1 {
    order: 1; }

  .order-md-2 {
    order: 2; }

  .order-md-3 {
    order: 3; }

  .order-md-4 {
    order: 4; }

  .order-md-5 {
    order: 5; }

  .order-md-6 {
    order: 6; }

  .order-md-7 {
    order: 7; }

  .order-md-8 {
    order: 8; }

  .order-md-9 {
    order: 9; }

  .order-md-10 {
    order: 10; }

  .order-md-11 {
    order: 11; }

  .order-md-12 {
    order: 12; }

  .offset-md-0 {
    margin-left: 0; }

  .offset-md-1 {
    margin-left: 8.3333333333%; }

  .offset-md-2 {
    margin-left: 16.6666666667%; }

  .offset-md-3 {
    margin-left: 25%; }

  .offset-md-4 {
    margin-left: 33.3333333333%; }

  .offset-md-5 {
    margin-left: 41.6666666667%; }

  .offset-md-6 {
    margin-left: 50%; }

  .offset-md-7 {
    margin-left: 58.3333333333%; }

  .offset-md-8 {
    margin-left: 66.6666666667%; }

  .offset-md-9 {
    margin-left: 75%; }

  .offset-md-10 {
    margin-left: 83.3333333333%; }

  .offset-md-11 {
    margin-left: 91.6666666667%; } }
@media (min-width: 992px) {
  .col-lg {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-lg-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-lg-first {
    order: -1; }

  .order-lg-last {
    order: 13; }

  .order-lg-0 {
    order: 0; }

  .order-lg-1 {
    order: 1; }

  .order-lg-2 {
    order: 2; }

  .order-lg-3 {
    order: 3; }

  .order-lg-4 {
    order: 4; }

  .order-lg-5 {
    order: 5; }

  .order-lg-6 {
    order: 6; }

  .order-lg-7 {
    order: 7; }

  .order-lg-8 {
    order: 8; }

  .order-lg-9 {
    order: 9; }

  .order-lg-10 {
    order: 10; }

  .order-lg-11 {
    order: 11; }

  .order-lg-12 {
    order: 12; }

  .offset-lg-0 {
    margin-left: 0; }

  .offset-lg-1 {
    margin-left: 8.3333333333%; }

  .offset-lg-2 {
    margin-left: 16.6666666667%; }

  .offset-lg-3 {
    margin-left: 25%; }

  .offset-lg-4 {
    margin-left: 33.3333333333%; }

  .offset-lg-5 {
    margin-left: 41.6666666667%; }

  .offset-lg-6 {
    margin-left: 50%; }

  .offset-lg-7 {
    margin-left: 58.3333333333%; }

  .offset-lg-8 {
    margin-left: 66.6666666667%; }

  .offset-lg-9 {
    margin-left: 75%; }

  .offset-lg-10 {
    margin-left: 83.3333333333%; }

  .offset-lg-11 {
    margin-left: 91.6666666667%; } }
@media (min-width: 1200px) {
  .col-xl {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%; }

  .col-xl-auto {
    flex: 0 0 auto;
    width: auto;
    max-width: none; }

  .col-xl-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%; }

  .col-xl-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%; }

  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }

  .col-xl-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%; }

  .col-xl-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%; }

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }

  .col-xl-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%; }

  .col-xl-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%; }

  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }

  .col-xl-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%; }

  .col-xl-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%; }

  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; }

  .order-xl-first {
    order: -1; }

  .order-xl-last {
    order: 13; }

  .order-xl-0 {
    order: 0; }

  .order-xl-1 {
    order: 1; }

  .order-xl-2 {
    order: 2; }

  .order-xl-3 {
    order: 3; }

  .order-xl-4 {
    order: 4; }

  .order-xl-5 {
    order: 5; }

  .order-xl-6 {
    order: 6; }

  .order-xl-7 {
    order: 7; }

  .order-xl-8 {
    order: 8; }

  .order-xl-9 {
    order: 9; }

  .order-xl-10 {
    order: 10; }

  .order-xl-11 {
    order: 11; }

  .order-xl-12 {
    order: 12; }

  .offset-xl-0 {
    margin-left: 0; }

  .offset-xl-1 {
    margin-left: 8.3333333333%; }

  .offset-xl-2 {
    margin-left: 16.6666666667%; }

  .offset-xl-3 {
    margin-left: 25%; }

  .offset-xl-4 {
    margin-left: 33.3333333333%; }

  .offset-xl-5 {
    margin-left: 41.6666666667%; }

  .offset-xl-6 {
    margin-left: 50%; }

  .offset-xl-7 {
    margin-left: 58.3333333333%; }

  .offset-xl-8 {
    margin-left: 66.6666666667%; }

  .offset-xl-9 {
    margin-left: 75%; }

  .offset-xl-10 {
    margin-left: 83.3333333333%; }

  .offset-xl-11 {
    margin-left: 91.6666666667%; } }
#eyewrapper {
  position: relative; }
  #eyewrapper .eye-image {
    background-color: #000;
    background-image: url("/images/eyeball4.jpg");
    height: 500px;
    width: 925px;
    background-repeat: no-repeat;
    background-size: auto;
    position: relative; }
    #eyewrapper .eye-image .drop1 {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      background-color: #120a08;
      left: 972px;
      top: 300px;
      box-shadow: #120a08 0px 0px 2px; }
    #eyewrapper .eye-image .drop2 {
      width: 4px;
      height: 4px;
      border-radius: 50%;
      position: absolute;
      background-color: #120a08;
      left: 973px;
      top: 299px;
      box-shadow: #120a08 0px 0px 2px; }
    #eyewrapper .eye-image .drop3 {
      width: 4px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      background-color: #120a08;
      left: 974px;
      top: 297px;
      box-shadow: #120a08 0px 0px 2px; }
  #eyewrapper .pupil {
    color: #000;
    width: 70px;
    height: 85px;
    position: absolute;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 50%;
    transform: rotateY(15deg);
    -webkit-box-shadow: inset 0px 0px 99px 13px rgba(0, 0, 0, 0.75);
    box-shadow: inset 0px 0px 99px 13px rgba(0, 0, 0, 0.75);
    top: 213px;
    left: 482px; }
  #eyewrapper .pupil-reflection {
    background-color: #fff;
    width: 51px;
    height: 46px;
    position: absolute;
    border-radius: 50%;
    transform: skewY(16deg);
    top: 191px;
    left: 495px; }
  #eyewrapper .iris {
    width: 223px;
    height: 215px;
    position: absolute;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    border-radius: 50%;
    -webkit-box-shadow: inset 0px 0px 99px 13px rgba(111, 67, 70, 0.7);
    box-shadow: inset 0px 0px 99px 13px rgba(72, 43, 45, 0.75);
    top: 36px;
    left: 88px;
    background: transparent radial-gradient(ellipse closest-corner at 48% 53%, rgba(130, 63, 37, 0.8) 25%, rgba(255, 255, 255, 0.7) 68%, rgba(255, 255, 255, 0.9) 90%); }
  #eyewrapper .eyeball {
    width: 380px;
    height: 380px;
    position: absolute;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    transform: rotate(-55deg); }
  #eyewrapper .eyewhite {
    position: absolute;
    overflow: hidden;
    width: 455px;
    height: 248px;
    border-radius: 121% 3% 92% 38%/102% 8% 121% 24%;
    transform: rotate(-160deg);
    left: 250px;
    top: 150px;
    background: white;
    background: transparent -webkit-radial-gradient(119% 16%, ellipse cover, rgba(132, 103, 99, 0.8) 25%, rgba(255, 255, 255, 0.7) 72%, rgba(255, 255, 255, 0.6) 90%);
    background: transparent radial-gradient(ellipse farthest-corner at 119% 16%, rgba(132, 103, 99, 0.8) 25%, rgba(255, 255, 255, 0.7) 72%, rgba(255, 255, 255, 0.6) 90%); }
  #eyewrapper .skin1 {
    background-color: rgba(212, 172, 160, 0.5);
    width: 2000px;
    height: 675px;
    position: absolute;
    left: -603px;
    top: -204px;
    transform: rotate(-31deg); }
  #eyewrapper .skin2 {
    background-color: rgba(212, 172, 160, 0.5);
    width: 2000px;
    height: 675px;
    position: absolute;
    left: 0px;
    bottom: -391px;
    transform: rotate(-167deg);
    border-bottom-left-radius: -50%;
    border-bottom-right-radius: -50%; }
  #eyewrapper header {
    background-color: rgba(212, 172, 160, 0.5); }

.raindrop0 {
  position: absolute;
  top: 64%;
  left: 0;
  width: 100%;
  height: 50%;
  border-radius: 100%;
  background: transparent -webkit-radial-gradient(50% 50%, ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 105, 149, 0.4) 37%, rgba(80, 80, 80, 0.1) 47%, rgba(80, 80, 80, 0) 58%);
  background: transparent radial-gradient(ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 105, 149, 0.4) 37%, rgba(80, 80, 80, 0.1) 47%, rgba(80, 80, 80, 0) 58%); }

.raindrop1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-top-left-radius: 0;
  background: transparent -webkit-radial-gradient(20% 20%, #fff 22%, rgba(255, 255, 255, 0.2) 30%, rgba(74, 193, 186, 0.5) 45%, rgba(0, 168, 243, 0.7) 65%, #fff 100%);
  background: transparent radial-gradient(at 20% 20%, #fff 22%, rgba(255, 255, 255, 0.2) 30%, rgba(74, 193, 186, 0.5) 45%, rgba(0, 168, 243, 0.7) 65%, #fff 100%); }

.raindrop2 {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 94%;
  border-radius: 100%;
  border-top-left-radius: 0;
  background: transparent -webkit-radial-gradient(30% 55%, circle cover, rgba(0, 105, 149, 0) 70%, rgba(0, 105, 149, 0.8) 80%);
  background: transparent radial-gradient(circle farthest-corner at 30% 55%, rgba(0, 105, 149, 0) 70%, rgba(0, 105, 149, 0.8) 80%); }

.raindrop3 {
  position: absolute;
  top: 3%;
  left: 3%;
  width: 94%;
  height: 94%;
  border-radius: 100%;
  border-top-left-radius: 0;
  background: transparent -webkit-radial-gradient(50% 10%, ellipse cover, rgba(0, 105, 149, 0) 73%, rgba(0, 105, 149, 0.3) 80%);
  background: transparent radial-gradient(ellipse farthest-corner at 50% 10%, rgba(0, 105, 149, 0) 73%, rgba(0, 105, 149, 0.3) 80%); }

.raindrop4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-top-left-radius: 0;
  box-shadow: inset rgba(124, 197, 238, 0.8) 0 0 32px; }

.raindrop5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-top-left-radius: 0;
  background: transparent -webkit-radial-gradient(30% 30%, ellipse cover, rgba(0, 105, 149, 0) 50%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.6) 90%);
  background: transparent radial-gradient(ellipse farthest-corner at 30% 30%, rgba(0, 105, 149, 0) 50%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.6) 90%); }

.raindrop6 {
  position: absolute;
  top: 35%;
  left: 10%;
  width: 80%;
  height: 60%;
  transform: matrix(1, -0.5, 0, 1, 0, 0);
  background: transparent -webkit-radial-gradient(73% 73%, ellipse farthest-corner, rgba(145, 240, 234, 0.8) 6%, rgba(145, 240, 234, 0.1) 25%, rgba(145, 240, 234, 0) 30%);
  background: transparent radial-gradient(ellipse farthest-corner at 73% 73%, rgba(145, 240, 234, 0.8) 6%, rgba(145, 240, 234, 0.1) 25%, rgba(145, 240, 234, 0) 30%); }

.raindrop7 {
  position: absolute;
  top: 45%;
  left: 20%;
  width: 75%;
  height: 55%;
  transform: matrix(1, -0.5, 0, 1, 0, 0);
  background: transparent -webkit-radial-gradient(73% 73%, ellipse farthest-corner, #fff 6%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 30%);
  background: transparent radial-gradient(ellipse farthest-corner at 73% 73%, #fff 6%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 30%); }

.raindrop8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-top-left-radius: 0;
  box-shadow: inset rgba(191, 235, 255, 0.8) 0 0 12px; }

.all-dots {
  position: absolute;
  position: relative;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 5000;
  float: left;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0.8; }
  .all-dots:hover {
    background-color: black; }

#target {
  width: 925px; }

#dot-1 {
  background-color: #865044; }
#dot-2 {
  background-color: #865044; }
#dot-3 {
  background-color: #865044; }
#dot-4 {
  background-color: #865044; }
#dot-5 {
  background-color: #865044; }
#dot-6 {
  background-color: #865044; }
#dot-7 {
  background-color: #865044; }
#dot-8 {
  background-color: #865044; }
#dot-9 {
  background-color: #865044; }
#dot-10 {
  background-color: #865044; }
#dot-11 {
  background-color: #865044; }
#dot-12 {
  background-color: #865044; }
#dot-13 {
  background-color: #865044; }
#dot-14 {
  background-color: #865044; }
#dot-15 {
  background-color: #865044; }
#dot-16 {
  background-color: #865044; }
#dot-17 {
  background-color: #865044; }
#dot-18 {
  background-color: #865044; }
#dot-19 {
  background-color: #865044; }
#dot-20 {
  background-color: #865044; }
#dot-21 {
  background-color: #865044; }
#dot-22 {
  background-color: #865044; }
#dot-23 {
  background-color: #865044; }
#dot-24 {
  background-color: #865044; }
#dot-25 {
  background-color: #865044; }
#dot-26 {
  background-color: #865044; }
#dot-27 {
  background-color: #865044; }
#dot-28 {
  background-color: #865044; }
#dot-29 {
  background-color: #865044; }
#dot-30 {
  background-color: #865044; }
#dot-31 {
  background-color: #865044; }
#dot-32 {
  background-color: #865044; }
#dot-33 {
  background-color: #865044; }
#dot-34 {
  background-color: #865044; }
#dot-35 {
  background-color: #865044; }
#dot-36 {
  background-color: #865044; }
#dot-37 {
  background-color: #865044; }
#dot-38 {
  background-color: #865044; }
#dot-39 {
  background-color: #865044; }
#dot-40 {
  background-color: #865044; }
#dot-41 {
  background-color: #865044; }
#dot-42 {
  background-color: #865044; }
#dot-43 {
  background-color: #865044; }
#dot-44 {
  background-color: #865044; }
#dot-45 {
  background-color: #865044; }
#dot-46 {
  background-color: #865044; }
#dot-47 {
  background-color: #865044; }
#dot-48 {
  background-color: #865044; }
#dot-49 {
  background-color: #865044; }
#dot-50 {
  background-color: #865044; }
#dot-51 {
  background-color: #865044; }
#dot-52 {
  background-color: #865044; }
#dot-53 {
  background-color: #865044; }
#dot-54 {
  background-color: #865044; }
#dot-55 {
  background-color: #865044; }
#dot-56 {
  background-color: #865044; }
#dot-57 {
  background-color: #865044; }
#dot-58 {
  background-color: #865044; }
#dot-59 {
  background-color: #865044; }
#dot-60 {
  background-color: #865044; }
#dot-61 {
  background-color: #865044; }
#dot-62 {
  background-color: #865044; }
#dot-63 {
  background-color: #865044; }
#dot-64 {
  background-color: #865044; }
#dot-65 {
  background-color: #865044; }
#dot-66 {
  background-color: #865044; }
#dot-67 {
  background-color: #865044; }
#dot-68 {
  background-color: #865044; }
#dot-69 {
  background-color: #865044; }
#dot-70 {
  background-color: #865044; }
#dot-71 {
  background-color: #865044; }
#dot-72 {
  background-color: #865044; }
#dot-73 {
  background-color: #865044; }
#dot-74 {
  background-color: #865044; }
#dot-75 {
  background-color: #865044; }
#dot-76 {
  background-color: #865044; }
#dot-77 {
  background-color: #865044; }
#dot-78 {
  background-color: #865044; }
#dot-79 {
  background-color: #865044; }
#dot-80 {
  background-color: #865044; }
#dot-81 {
  background-color: #865044; }
#dot-82 {
  background-color: #865044; }
#dot-83 {
  background-color: #865044; }
#dot-84 {
  background-color: #865044; }
#dot-85 {
  background-color: #865044; }
#dot-86 {
  background-color: #865044; }
#dot-87 {
  background-color: #865044; }
#dot-88 {
  background-color: #865044; }
#dot-89 {
  background-color: #865044; }
#dot-90 {
  background-color: #865044; }
#dot-91 {
  background-color: #865044; }
#dot-92 {
  background-color: #865044; }
#dot-93 {
  background-color: #865044; }
#dot-94 {
  background-color: #865044; }
#dot-95 {
  background-color: #865044; }
#dot-96 {
  background-color: #865044; }
#dot-97 {
  background-color: #865044; }
#dot-98 {
  background-color: #865044; }
#dot-99 {
  background-color: #865044; }
#dot-100 {
  background-color: #865044; }
#dot-101 {
  background-color: #865044; }
#dot-102 {
  background-color: #865044; }
#dot-103 {
  background-color: #865044; }
#dot-104 {
  background-color: #865044; }
#dot-105 {
  background-color: #865044; }
#dot-106 {
  background-color: #865044; }
#dot-107 {
  background-color: #865044; }
#dot-108 {
  background-color: #865044; }
#dot-109 {
  background-color: #865044; }
#dot-110 {
  background-color: #865044; }
#dot-111 {
  background-color: #865044; }
#dot-112 {
  background-color: #865044; }
#dot-113 {
  background-color: #865044; }
#dot-114 {
  background-color: #865044; }
#dot-115 {
  background-color: #865044; }
#dot-116 {
  background-color: #865044; }
#dot-117 {
  background-color: #865044; }
#dot-118 {
  background-color: #865044; }
#dot-119 {
  background-color: #865044; }
#dot-120 {
  background-color: #865044; }
#dot-121 {
  background-color: #865044; }
#dot-122 {
  background-color: #865044; }
#dot-123 {
  background-color: #865044; }
#dot-124 {
  background-color: #865044; }
#dot-125 {
  background-color: #865044; }
#dot-126 {
  background-color: #865044; }
#dot-127 {
  background-color: #865044; }
#dot-128 {
  background-color: #865044; }
#dot-129 {
  background-color: #865044; }
#dot-130 {
  background-color: #865044; }
#dot-131 {
  background-color: #865044; }
#dot-132 {
  background-color: #865044; }
#dot-133 {
  background-color: #865044; }
#dot-134 {
  background-color: #865044; }
#dot-135 {
  background-color: #865044; }
#dot-136 {
  background-color: #865044; }
#dot-137 {
  background-color: #865044; }
#dot-138 {
  background-color: #865044; }
#dot-139 {
  background-color: #865044; }
#dot-140 {
  background-color: #865044; }
#dot-141 {
  background-color: #865044; }
#dot-142 {
  background-color: #865044; }
#dot-143 {
  background-color: #865044; }
#dot-144 {
  background-color: #865044; }
#dot-145 {
  background-color: #865044; }
#dot-146 {
  background-color: #865044; }
#dot-147 {
  background-color: #865044; }
#dot-148 {
  background-color: #865044; }
#dot-149 {
  background-color: #865044; }
#dot-150 {
  background-color: #865044; }
#dot-151 {
  background-color: #865044; }
#dot-152 {
  background-color: #865044; }
#dot-153 {
  background-color: #865044; }
#dot-154 {
  background-color: #865044; }
#dot-155 {
  background-color: #865044; }
#dot-156 {
  background-color: #865044; }
#dot-157 {
  background-color: #865044; }
#dot-158 {
  background-color: #865044; }
#dot-159 {
  background-color: #865044; }
#dot-160 {
  background-color: #865044; }
#dot-161 {
  background-color: #865044; }
#dot-162 {
  background-color: #865044; }
#dot-163 {
  background-color: #865044; }
#dot-164 {
  background-color: #865044; }
#dot-165 {
  background-color: #865044; }
#dot-166 {
  background-color: #865044; }
#dot-167 {
  background-color: #865044; }
#dot-168 {
  background-color: #865044; }
#dot-169 {
  background-color: #865044; }
#dot-170 {
  background-color: #865044; }
#dot-171 {
  background-color: #865044; }
#dot-172 {
  background-color: #865044; }
#dot-173 {
  background-color: #865044; }
#dot-174 {
  background-color: #865044; }
#dot-175 {
  background-color: #865044; }
#dot-176 {
  background-color: #865044; }
#dot-177 {
  background-color: #865044; }
#dot-178 {
  background-color: #865044; }
#dot-179 {
  background-color: #865044; }
#dot-180 {
  background-color: #865044; }
#dot-181 {
  background-color: #865044; }
#dot-182 {
  background-color: #865044; }
#dot-183 {
  background-color: #865044; }
#dot-184 {
  background-color: #865044; }
#dot-185 {
  background-color: #865044;
  background-color: purple; }
#dot-186 {
  background-color: #865044; }
#dot-187 {
  background-color: #865044; }
#dot-188 {
  background-color: #865044; }
#dot-189 {
  background-color: #865044; }
#dot-190 {
  background-color: #865044; }
#dot-191 {
  background-color: #865044; }
#dot-192 {
  background-color: #865044; }
#dot-193 {
  background-color: #865044; }
#dot-194 {
  background-color: #865044; }
#dot-195 {
  background-color: #865044; }
#dot-196 {
  background-color: #865044; }
#dot-197 {
  background-color: #865044; }
#dot-198 {
  background-color: #865044; }
#dot-199 {
  background-color: #865044;
  background-color: blue; }

/*# sourceMappingURL=styles.full.css.map */
