///////////////////// RESPONSIVE SIZES FOR REFERENCE  \\\\\\\\\\\\\\\\\\\\\\\\\
// xs: 0
// sm: 576px
// md: 768px
// lg: 992px
// xl: 1200px
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
//
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/grid";

///////////////////////// VARIABLE OVERRIDES  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\


/////////////////////// CUSTOM MIXINS  \\\\\\\\\\\\\\\\\\\\\\\
@mixin easeOut {
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-backface-visibility: hidden;
}


#eyewrapper {
    // height: 600px;
    position: relative;

    .eye-image {
        background-color: #000;
        background-image: url("/images/eyeball4.jpg");
        // height: 1000px;
        height: 500px;
        // width: 1850px;
        width: 925px;
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;

        .drop1 {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            background-color: rgb(18, 10, 8);
            left: 972px;
            top: 300px;
            box-shadow: rgba(18, 10, 8, 1) 0px 0px 2px;
        }

        .drop2 {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            background-color: rgb(18, 10, 8);
            left: 973px;
            top: 299px;

            box-shadow: rgba(18, 10, 8, 1) 0px 0px 2px;
        }

        .drop3 {
            width: 4px;
            height: 5px;
            border-radius: 50%;
            position: absolute;
            background-color: rgb(18, 10, 8);
            left: 974px;
            top: 297px;
            box-shadow: rgba(18, 10, 8, 1) 0px 0px 2px;
        }
    }

    .pupil {
        color: #000;
        // width: 140px;
        width: 70px;
        // height: 170px;
        height: 85px;
        position: absolute;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        border-radius: 50%;
        transform: rotateY(15deg);
        -webkit-box-shadow: inset 0px 0px 99px 13px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 0px 99px 13px rgba(0, 0, 0, 0.75);
        // top: 425px;
        top: 213px;
        // left: 963px;
        left: 482px;

    }

    .pupil-reflection {
        background-color: #fff;
        // width: 102px;
        width: 51px;
        // height: 92px;
        height: 46px;
        position: absolute;
        border-radius: 50%;
        transform: skewY(16deg);
        // top: 383px;
        top: 191px;
        // left: 990px;
        left: 495px;
    }

    .iris {
        // width: 445px;
        width: 223px;
        // height: 431px;
        height: 215px;
        position: absolute;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        border-radius: 50%;
        -webkit-box-shadow: inset 0px 0px 99px 13px rgba(111, 67, 70, 0.70);
        box-shadow: inset 0px 0px 99px 13px rgba(72, 43, 45, 0.75);
        // top: 316px;
        // top: 73px;
        top: 36px;
        // left: 803px;
        // left: 176px;
        left: 88px;
        background: transparent radial-gradient(ellipse closest-corner at 48% 53%, rgba(130, 63, 37, .8) 25%, rgba(255, 255, 255, 0.7) 68%, rgba(255, 255, 255, .9) 90%);
    }

    // .inner-iris {
    //     width: 433px;
    //     height: 433px;
    //     position: absolute;
    //     margin: auto;
    //     max-width: 100%;
    //     max-height: 100%;
    //     overflow: auto;
    //     border-radius: 50%;
    //     -webkit-box-shadow: inset 0px 0px 99px 13px rgba(170, 112, 75, 0.75);
    //     box-shadow: inset 0px 0px 99px 13px rgba(170, 112, 75, 0.75);
    //     top: 309px;
    //     left: 804px;
    // }


    .eyeball {
        width: 380px;
        height: 380px;
        position: absolute;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        transform: rotate(-55deg);
    }

    .eyewhite {
        position: absolute;
        overflow: hidden;
        // width: 910px;
        width: 455px;
        // height: 497px;
        height: 248px;
        border-radius: 121% 3% 92% 38%/102% 8% 121% 24%;
        transform: rotate(-160deg);
        // left: 500px;
        left: 250px;
        // top: 301px;
        top: 150px;
        background: white;
        background: transparent -webkit-radial-gradient(119% 16%, ellipse cover, rgba(132, 103, 99, 0.8) 25%, rgba(255, 255, 255, 0.7) 72%, rgba(255, 255, 255, 0.6) 90%);
        background: transparent radial-gradient(ellipse farthest-corner at 119% 16%, rgba(132, 103, 99, 0.8) 25%, rgba(255, 255, 255, 0.7) 72%, rgba(255, 255, 255, 0.6) 90%);
    }

    .skin1 {
        background-color: rgba(212, 172, 160, 0.5);
        width: 2000px;
        height: 675px;
        position: absolute;
        left: -603px;
        top: -204px;
        transform: rotate(-31deg);
    }

    .skin2 {
        background-color: rgba(212, 172, 160, 0.5);
        width: 2000px;
        height: 675px;
        position: absolute;
        left: 0px;
        bottom: -391px;
        transform: rotate(-167deg);
        border-bottom-left-radius: -50%;
        border-bottom-right-radius: -50%;
    }

    header {
        background-color: rgba(212, 172, 160, 0.5);
    }
}





// ############################################################################
//
//
//                              EYEBALL
//
//
// ############################################################################
.raindrop0 {
    position: absolute;
    top: 64%;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 100%;
    background: transparent -webkit-radial-gradient(50% 50%, ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 105, 149, 0.4) 37%, rgba(80, 80, 80, 0.1) 47%, rgba(80, 80, 80, 0) 58%);
    background: transparent radial-gradient(ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 105, 149, 0.4) 37%, rgba(80, 80, 80, 0.1) 47%, rgba(80, 80, 80, 0) 58%);
}

.raindrop1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -webkit-radial-gradient(20% 20%, #fff 22%, rgba(255, 255, 255, 0.2) 30%, rgba(74, 193, 186, 0.5) 45%, rgba(0, 168, 243, 0.7) 65%, #fff 100%);
    background: transparent radial-gradient(at 20% 20%, #fff 22%, rgba(255, 255, 255, 0.2) 30%, rgba(74, 193, 186, 0.5) 45%, rgba(0, 168, 243, 0.7) 65%, #fff 100%);
}

.raindrop2 {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -webkit-radial-gradient(30% 55%, circle cover, rgba(0, 105, 149, 0) 70%, rgba(0, 105, 149, 0.8) 80%);
    background: transparent radial-gradient(circle farthest-corner at 30% 55%, rgba(0, 105, 149, 0) 70%, rgba(0, 105, 149, 0.8) 80%);
}

.raindrop3 {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -webkit-radial-gradient(50% 10%, ellipse cover, rgba(0, 105, 149, 0) 73%, rgba(0, 105, 149, 0.3) 80%);
    background: transparent radial-gradient(ellipse farthest-corner at 50% 10%, rgba(0, 105, 149, 0) 73%, rgba(0, 105, 149, 0.3) 80%);
}

.raindrop4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    box-shadow: inset rgba(124, 197, 238, 0.8) 0 0 32px;
}

.raindrop5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -webkit-radial-gradient(30% 30%, ellipse cover, rgba(0, 105, 149, 0) 50%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.6) 90%);
    background: transparent radial-gradient(ellipse farthest-corner at 30% 30%, rgba(0, 105, 149, 0) 50%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.6) 90%);
}

.raindrop6 {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    height: 60%;
    transform: matrix(1, -0.5, 0, 1, 0, 0);
    background: transparent -webkit-radial-gradient(73% 73%, ellipse farthest-corner, rgba(145, 240, 234, 0.8) 6%, rgba(145, 240, 234, 0.1) 25%, rgba(145, 240, 234, 0) 30%);
    background: transparent radial-gradient(ellipse farthest-corner at 73% 73%, rgba(145, 240, 234, 0.8) 6%, rgba(145, 240, 234, 0.1) 25%, rgba(145, 240, 234, 0) 30%);
}

.raindrop7 {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 75%;
    height: 55%;
    transform: matrix(1, -0.5, 0, 1, 0, 0);
    background: transparent -webkit-radial-gradient(73% 73%, ellipse farthest-corner, #fff 6%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 30%);
    background: transparent radial-gradient(ellipse farthest-corner at 73% 73%, #fff 6%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 30%);
}

.raindrop8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    box-shadow: inset rgba(191, 235, 255, 0.8) 0 0 12px;


}





// loop experiment
// // colors begin
// $colors: rgb(255,255,255), // white
//           rgb(255,0,0),     // red
//           rgb(135,206,250), // sky blue
//           rgb(255,255,0);   // yellow

// @each $color in $colors {
//     .for-#{$color} {
//         background-color: rgba($color, 0.6);

//         &:hover {
//             background-color: rgba($color, 1);
//             cursor: pointer;
//         }
//     }

// }
// // colors end


.all-dots {
    position: absolute;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    z-index: 5000;
    float: left;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.8;

    &:hover {
        background-color: black;
    }
}


#target {
    // width: 1251px;
    width: 925px;
}

#dot- {

    &1 {
        background-color: rgb(134, 80, 68);
    }

    &2 {
        background-color: rgb(134, 80, 68);
    }

    &3 {
        background-color: rgb(134, 80, 68);
    }

    &4 {
        background-color: rgb(134, 80, 68);
    }

    &5 {
        background-color: rgb(134, 80, 68);
    }

    &6 {
        background-color: rgb(134, 80, 68);
    }

    &7 {
        background-color: rgb(134, 80, 68);
    }

    &8 {
        background-color: rgb(134, 80, 68);
    }

    &9 {
        background-color: rgb(134, 80, 68);
    }

    &10 {
        background-color: rgb(134, 80, 68);
    }

    &11 {
        background-color: rgb(134, 80, 68);
    }

    &12 {
        background-color: rgb(134, 80, 68);
    }

    &13 {
        background-color: rgb(134, 80, 68);
    }

    &14 {
        background-color: rgb(134, 80, 68);
    }

    &15 {
        background-color: rgb(134, 80, 68);
    }

    &16 {
        background-color: rgb(134, 80, 68);
    }

    &17 {
        background-color: rgb(134, 80, 68);
    }

    &18 {
        background-color: rgb(134, 80, 68);
    }

    &19 {
        background-color: rgb(134, 80, 68);
    }

    &20 {
        background-color: rgb(134, 80, 68);
    }

    &21 {
        background-color: rgb(134, 80, 68);
    }

    &22 {
        background-color: rgb(134, 80, 68);
    }

    &23 {
        background-color: rgb(134, 80, 68);
    }

    &24 {
        background-color: rgb(134, 80, 68);
    }

    &25 {
        background-color: rgb(134, 80, 68);
    }

    &26 {
        background-color: rgb(134, 80, 68);
    }

    &27 {
        background-color: rgb(134, 80, 68);
    }

    &28 {
        background-color: rgb(134, 80, 68);
    }

    &29 {
        background-color: rgb(134, 80, 68);
    }

    &30 {
        background-color: rgb(134, 80, 68);
    }

    &31 {
        background-color: rgb(134, 80, 68);
    }

    &32 {
        background-color: rgb(134, 80, 68);
    }

    &33 {
        background-color: rgb(134, 80, 68);
    }

    &34 {
        background-color: rgb(134, 80, 68);
    }

    &35 {
        background-color: rgb(134, 80, 68);
    }

    &36 {
        background-color: rgb(134, 80, 68);
    }

    &37 {
        background-color: rgb(134, 80, 68);
    }

    &38 {
        background-color: rgb(134, 80, 68);
    }

    &39 {
        background-color: rgb(134, 80, 68);
    }

    &40 {
        background-color: rgb(134, 80, 68);
    }

    &41 {
        background-color: rgb(134, 80, 68);
    }

    &42 {
        background-color: rgb(134, 80, 68);
    }

    &43 {
        background-color: rgb(134, 80, 68);
    }

    &44 {
        background-color: rgb(134, 80, 68);
    }

    &45 {
        background-color: rgb(134, 80, 68);
    }

    &46 {
        background-color: rgb(134, 80, 68);
    }

    &47 {
        background-color: rgb(134, 80, 68);
    }

    &48 {
        background-color: rgb(134, 80, 68);
    }

    &49 {
        background-color: rgb(134, 80, 68);
    }

    &50 {
        background-color: rgb(134, 80, 68);
    }

    &51 {
        background-color: rgb(134, 80, 68);
    }

    &52 {
        background-color: rgb(134, 80, 68);
    }

    &53 {
        background-color: rgb(134, 80, 68);
    }

    &54 {
        background-color: rgb(134, 80, 68);
    }

    &55 {
        background-color: rgb(134, 80, 68);
    }

    &56 {
        background-color: rgb(134, 80, 68);
    }

    &57 {
        background-color: rgb(134, 80, 68);
    }

    &58 {
        background-color: rgb(134, 80, 68);
    }

    &59 {
        background-color: rgb(134, 80, 68);
    }

    &60 {
        background-color: rgb(134, 80, 68);
    }

    &61 {
        background-color: rgb(134, 80, 68);
    }

    &62 {
        background-color: rgb(134, 80, 68);
    }

    &63 {
        background-color: rgb(134, 80, 68);
    }

    &64 {
        background-color: rgb(134, 80, 68);
    }

    &65 {
        background-color: rgb(134, 80, 68);
    }

    &66 {
        background-color: rgb(134, 80, 68);
    }

    &67 {
        background-color: rgb(134, 80, 68);
    }

    &68 {
        background-color: rgb(134, 80, 68);
    }

    &69 {
        background-color: rgb(134, 80, 68);
    }

    &70 {
        background-color: rgb(134, 80, 68);
    }

    &71 {
        background-color: rgb(134, 80, 68);
    }

    &72 {
        background-color: rgb(134, 80, 68);
    }

    &73 {
        background-color: rgb(134, 80, 68);
    }

    &74 {
        background-color: rgb(134, 80, 68);
    }

    &75 {
        background-color: rgb(134, 80, 68);
    }

    &76 {
        background-color: rgb(134, 80, 68);
    }

    &77 {
        background-color: rgb(134, 80, 68);
    }

    &78 {
        background-color: rgb(134, 80, 68);
    }

    &79 {
        background-color: rgb(134, 80, 68);
    }

    &80 {
        background-color: rgb(134, 80, 68);
    }

    &81 {
        background-color: rgb(134, 80, 68);
    }

    &82 {
        background-color: rgb(134, 80, 68);
    }

    &83 {
        background-color: rgb(134, 80, 68);
    }

    &84 {
        background-color: rgb(134, 80, 68);
    }

    &85 {
        background-color: rgb(134, 80, 68);
    }

    &86 {
        background-color: rgb(134, 80, 68);
    }

    &87 {
        background-color: rgb(134, 80, 68);
    }

    &88 {
        background-color: rgb(134, 80, 68);
    }

    &89 {
        background-color: rgb(134, 80, 68);
    }

    &90 {
        background-color: rgb(134, 80, 68);
    }

    &91 {
        background-color: rgb(134, 80, 68);
    }

    &92 {
        background-color: rgb(134, 80, 68);
    }

    &93 {
        background-color: rgb(134, 80, 68);
    }

    &94 {
        background-color: rgb(134, 80, 68);
    }

    &95 {
        background-color: rgb(134, 80, 68);
    }

    &96 {
        background-color: rgb(134, 80, 68);
    }

    &97 {
        background-color: rgb(134, 80, 68);
    }

    &98 {
        background-color: rgb(134, 80, 68);
    }

    &99 {
        background-color: rgb(134, 80, 68);
    }

    &100 {
        background-color: rgb(134, 80, 68);
    }

    &101 {
        background-color: rgb(134, 80, 68);
    }

    &102 {
        background-color: rgb(134, 80, 68);
    }

    &103 {
        background-color: rgb(134, 80, 68);
    }

    &104 {
        background-color: rgb(134, 80, 68);
    }

    &105 {
        background-color: rgb(134, 80, 68);
    }

    &106 {
        background-color: rgb(134, 80, 68);
    }

    &107 {
        background-color: rgb(134, 80, 68);
    }

    &108 {
        background-color: rgb(134, 80, 68);
    }

    &109 {
        background-color: rgb(134, 80, 68);
    }

    &110 {
        background-color: rgb(134, 80, 68);
    }

    &111 {
        background-color: rgb(134, 80, 68);
    }

    &112 {
        background-color: rgb(134, 80, 68);
    }

    &113 {
        background-color: rgb(134, 80, 68);
    }

    &114 {
        background-color: rgb(134, 80, 68);
    }

    &115 {
        background-color: rgb(134, 80, 68);
    }

    &116 {
        background-color: rgb(134, 80, 68);
    }

    &117 {
        background-color: rgb(134, 80, 68);
    }

    &118 {
        background-color: rgb(134, 80, 68);
    }

    &119 {
        background-color: rgb(134, 80, 68);
    }

    &120 {
        background-color: rgb(134, 80, 68);
    }

    &121 {
        background-color: rgb(134, 80, 68);
    }

    &122 {
        background-color: rgb(134, 80, 68);
    }

    &123 {
        background-color: rgb(134, 80, 68);
    }

    &124 {
        background-color: rgb(134, 80, 68);
    }

    &125 {
        background-color: rgb(134, 80, 68);
    }

    &126 {
        background-color: rgb(134, 80, 68);
    }

    &127 {
        background-color: rgb(134, 80, 68);
    }

    &128 {
        background-color: rgb(134, 80, 68);
    }

    &129 {
        background-color: rgb(134, 80, 68);
    }

    &130 {
        background-color: rgb(134, 80, 68);
    }

    &131 {
        background-color: rgb(134, 80, 68);
    }

    &132 {
        background-color: rgb(134, 80, 68);
    }

    &133 {
        background-color: rgb(134, 80, 68);
    }

    &134 {
        background-color: rgb(134, 80, 68);
    }

    &135 {
        background-color: rgb(134, 80, 68);
    }

    &136 {
        background-color: rgb(134, 80, 68);
    }

    &137 {
        background-color: rgb(134, 80, 68);
    }

    &138 {
        background-color: rgb(134, 80, 68);
    }

    &139 {
        background-color: rgb(134, 80, 68);
    }

    &140 {
        background-color: rgb(134, 80, 68);
    }

    &141 {
        background-color: rgb(134, 80, 68);
    }

    &142 {
        background-color: rgb(134, 80, 68);
    }

    &143 {
        background-color: rgb(134, 80, 68);
    }

    &144 {
        background-color: rgb(134, 80, 68);
    }

    &145 {
        background-color: rgb(134, 80, 68);
    }

    &146 {
        background-color: rgb(134, 80, 68);
    }

    &147 {
        background-color: rgb(134, 80, 68);
    }

    &148 {
        background-color: rgb(134, 80, 68);

    }

    &149 {
        background-color: rgb(134, 80, 68);
    }

    &150 {
        background-color: rgb(134, 80, 68);
    }

    &151 {
        background-color: rgb(134, 80, 68);
    }

    &152 {
        background-color: rgb(134, 80, 68);
    }

    &153 {
        background-color: rgb(134, 80, 68);
    }

    &154 {
        background-color: rgb(134, 80, 68);
    }

    &155 {
        background-color: rgb(134, 80, 68);
    }

    &156 {
        background-color: rgb(134, 80, 68);
    }

    &157 {
        background-color: rgb(134, 80, 68);
    }

    &158 {
        background-color: rgb(134, 80, 68);
    }

    &159 {
        background-color: rgb(134, 80, 68);
    }

    &160 {
        background-color: rgb(134, 80, 68);
    }

    &161 {
        background-color: rgb(134, 80, 68);
    }

    &162 {
        background-color: rgb(134, 80, 68);
    }

    &163 {
        background-color: rgb(134, 80, 68);
    }

    &164 {
        background-color: rgb(134, 80, 68);
    }

    &165 {
        background-color: rgb(134, 80, 68);
    }

    &166 {
        background-color: rgb(134, 80, 68);
    }

    &167 {
        background-color: rgb(134, 80, 68);
    }

    &168 {
        background-color: rgb(134, 80, 68);
    }

    &169 {
        background-color: rgb(134, 80, 68);
    }

    &170 {
        background-color: rgb(134, 80, 68);
    }

    &171 {
        background-color: rgb(134, 80, 68);
    }

    &172 {
        background-color: rgb(134, 80, 68);

    }

    &173 {
        background-color: rgb(134, 80, 68);
    }

    &174 {
        background-color: rgb(134, 80, 68);
    }

    &175 {
        background-color: rgb(134, 80, 68);
    }

    &176 {
        background-color: rgb(134, 80, 68);
    }

    &177 {
        background-color: rgb(134, 80, 68);
    }

    &178 {
        background-color: rgb(134, 80, 68);
    }

    &179 {
        background-color: rgb(134, 80, 68);
    }

    &180 {
        background-color: rgb(134, 80, 68);
    }

    &181 {
        background-color: rgb(134, 80, 68);
    }

    &182 {
        background-color: rgb(134, 80, 68);
    }

    &183 {
        background-color: rgb(134, 80, 68);
    }

    &184 {
        background-color: rgb(134, 80, 68);
    }

    &185 {
        background-color: rgb(134, 80, 68);
                        background-color: purple;
    }


// END OF FIRST ROW


// // BEGINNING OF 2ND ROW

    &186 {
        background-color: rgb(134, 80, 68);

    }

    &187 {
        background-color: rgb(134, 80, 68);
    }

    &188 {
        background-color: rgb(134, 80, 68);
    }

    &189 {
        background-color: rgb(134, 80, 68);
    }

    &190 {
        background-color: rgb(134, 80, 68);
    }

    &191 {
        background-color: rgb(134, 80, 68);
    }

    &192 {
        background-color: rgb(134, 80, 68);
    }

    &193 {
        background-color: rgb(134, 80, 68);
    }

    &194 {
        background-color: rgb(134, 80, 68);
    }

    &195 {
        background-color: rgb(134, 80, 68);
    }

    &196 {
        background-color: rgb(134, 80, 68);
    }

    &197 {
        background-color: rgb(134, 80, 68);
    }

    &198 {
        background-color: rgb(134, 80, 68);
    }

    &199 {
        background-color: rgb(134, 80, 68);
        background-color: blue;
    }



}
