///////////////////// RESPONSIVE SIZES FOR REFERENCE  \\\\\\\\\\\\\\\\\\\\\\\\\
// xs: 0
// sm: 576px
// md: 768px
// lg: 992px
// xl: 1200px
// @include media-breakpoint-up(sm) {}
// @include media-breakpoint-up(md) {}
// @include media-breakpoint-up(lg) {}
// @include media-breakpoint-up(xl) {}
//
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/grid";

///////////////////////// VARIABLE OVERRIDES  \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\


/////////////////////// CUSTOM MIXINS  \\\\\\\\\\\\\\\\\\\\\\\
@mixin easeOut {
    transition: all .4s cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-backface-visibility: hidden;
}


#eyewrapper {
    // height: 600px;
    position: relative;

    .eye-image {
        background-color: #000;
        background-image: url("/images/eyeball4.jpg");
        // height: 1000px;
        height: 500px;
        // width: 1850px;
        width: 925px;
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;

        .drop1 {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            background-color: rgb(18, 10, 8);
            left: 972px;
            top: 300px;
            box-shadow: rgba(18, 10, 8, 1) 0px 0px 2px;
        }

        .drop2 {
            width: 4px;
            height: 4px;
            border-radius: 50%;
            position: absolute;
            background-color: rgb(18, 10, 8);
            left: 973px;
            top: 299px;

            box-shadow: rgba(18, 10, 8, 1) 0px 0px 2px;
        }

        .drop3 {
            width: 4px;
            height: 5px;
            border-radius: 50%;
            position: absolute;
            background-color: rgb(18, 10, 8);
            left: 974px;
            top: 297px;
            box-shadow: rgba(18, 10, 8, 1) 0px 0px 2px;
        }
    }

    .pupil {
        color: #000;
        // width: 140px;
        width: 70px;
        // height: 170px;
        height: 85px;
        position: absolute;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        border-radius: 50%;
        transform: rotateY(15deg);
        -webkit-box-shadow: inset 0px 0px 99px 13px rgba(0, 0, 0, 0.75);
        box-shadow: inset 0px 0px 99px 13px rgba(0, 0, 0, 0.75);
        // top: 425px;
        top: 213px;
        // left: 963px;
        left: 482px;

    }

    .pupil-reflection {
        background-color: #fff;
        // width: 102px;
        width: 51px;
        // height: 92px;
        height: 46px;
        position: absolute;
        border-radius: 50%;
        transform: skewY(16deg);
        // top: 383px;
        top: 191px;
        // left: 990px;
        left: 495px;
    }

    .iris {
        // width: 445px;
        width: 223px;
        // height: 431px;
        height: 215px;
        position: absolute;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        border-radius: 50%;
        -webkit-box-shadow: inset 0px 0px 99px 13px rgba(111, 67, 70, 0.70);
        box-shadow: inset 0px 0px 99px 13px rgba(72, 43, 45, 0.75);
        // top: 316px;
        // top: 73px;
        top: 36px;
        // left: 803px;
        // left: 176px;
        left: 88px;
        background: transparent radial-gradient(ellipse closest-corner at 48% 53%, rgba(130, 63, 37, .8) 25%, rgba(255, 255, 255, 0.7) 68%, rgba(255, 255, 255, .9) 90%);
    }

    // .inner-iris {
    //     width: 433px;
    //     height: 433px;
    //     position: absolute;
    //     margin: auto;
    //     max-width: 100%;
    //     max-height: 100%;
    //     overflow: auto;
    //     border-radius: 50%;
    //     -webkit-box-shadow: inset 0px 0px 99px 13px rgba(170, 112, 75, 0.75);
    //     box-shadow: inset 0px 0px 99px 13px rgba(170, 112, 75, 0.75);
    //     top: 309px;
    //     left: 804px;
    // }


    .eyeball {
        width: 380px;
        height: 380px;
        position: absolute;
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        overflow: auto;
        transform: rotate(-55deg);
    }

    .eyewhite {
        position: absolute;
        overflow: hidden;
        // width: 910px;
        width: 455px;
        // height: 497px;
        height: 248px;
        border-radius: 121% 3% 92% 38%/102% 8% 121% 24%;
        transform: rotate(-160deg);
        // left: 500px;
        left: 250px;
        // top: 301px;
        top: 150px;
        background: white;
        background: transparent -webkit-radial-gradient(119% 16%, ellipse cover, rgba(132, 103, 99, 0.8) 25%, rgba(255, 255, 255, 0.7) 72%, rgba(255, 255, 255, 0.6) 90%);
        background: transparent radial-gradient(ellipse farthest-corner at 119% 16%, rgba(132, 103, 99, 0.8) 25%, rgba(255, 255, 255, 0.7) 72%, rgba(255, 255, 255, 0.6) 90%);
    }

    .skin1 {
        background-color: rgba(212, 172, 160, 0.5);
        width: 2000px;
        height: 675px;
        position: absolute;
        left: -603px;
        top: -204px;
        transform: rotate(-31deg);
    }

    .skin2 {
        background-color: rgba(212, 172, 160, 0.5);
        width: 2000px;
        height: 675px;
        position: absolute;
        left: 0px;
        bottom: -391px;
        transform: rotate(-167deg);
        border-bottom-left-radius: -50%;
        border-bottom-right-radius: -50%;
    }

    header {
        background-color: rgba(212, 172, 160, 0.5);
    }
}





// ############################################################################
//
//
//                              EYEBALL
//
//
// ############################################################################
.raindrop0 {
    position: absolute;
    top: 64%;
    left: 0;
    width: 100%;
    height: 50%;
    border-radius: 100%;
    background: transparent -webkit-radial-gradient(50% 50%, ellipse farthest-corner, rgba(0, 0, 0, 0) 0%, rgba(0, 105, 149, 0.4) 37%, rgba(80, 80, 80, 0.1) 47%, rgba(80, 80, 80, 0) 58%);
    background: transparent radial-gradient(ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 105, 149, 0.4) 37%, rgba(80, 80, 80, 0.1) 47%, rgba(80, 80, 80, 0) 58%);
}

.raindrop1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -webkit-radial-gradient(20% 20%, #fff 22%, rgba(255, 255, 255, 0.2) 30%, rgba(74, 193, 186, 0.5) 45%, rgba(0, 168, 243, 0.7) 65%, #fff 100%);
    background: transparent radial-gradient(at 20% 20%, #fff 22%, rgba(255, 255, 255, 0.2) 30%, rgba(74, 193, 186, 0.5) 45%, rgba(0, 168, 243, 0.7) 65%, #fff 100%);
}

.raindrop2 {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -webkit-radial-gradient(30% 55%, circle cover, rgba(0, 105, 149, 0) 70%, rgba(0, 105, 149, 0.8) 80%);
    background: transparent radial-gradient(circle farthest-corner at 30% 55%, rgba(0, 105, 149, 0) 70%, rgba(0, 105, 149, 0.8) 80%);
}

.raindrop3 {
    position: absolute;
    top: 3%;
    left: 3%;
    width: 94%;
    height: 94%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -webkit-radial-gradient(50% 10%, ellipse cover, rgba(0, 105, 149, 0) 73%, rgba(0, 105, 149, 0.3) 80%);
    background: transparent radial-gradient(ellipse farthest-corner at 50% 10%, rgba(0, 105, 149, 0) 73%, rgba(0, 105, 149, 0.3) 80%);
}

.raindrop4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    box-shadow: inset rgba(124, 197, 238, 0.8) 0 0 32px;
}

.raindrop5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    background: transparent -webkit-radial-gradient(30% 30%, ellipse cover, rgba(0, 105, 149, 0) 50%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.6) 90%);
    background: transparent radial-gradient(ellipse farthest-corner at 30% 30%, rgba(0, 105, 149, 0) 50%, rgba(255, 255, 255, 0.9) 72%, rgba(255, 255, 255, 0.6) 90%);
}

.raindrop6 {
    position: absolute;
    top: 35%;
    left: 10%;
    width: 80%;
    height: 60%;
    transform: matrix(1, -0.5, 0, 1, 0, 0);
    background: transparent -webkit-radial-gradient(73% 73%, ellipse farthest-corner, rgba(145, 240, 234, 0.8) 6%, rgba(145, 240, 234, 0.1) 25%, rgba(145, 240, 234, 0) 30%);
    background: transparent radial-gradient(ellipse farthest-corner at 73% 73%, rgba(145, 240, 234, 0.8) 6%, rgba(145, 240, 234, 0.1) 25%, rgba(145, 240, 234, 0) 30%);
}

.raindrop7 {
    position: absolute;
    top: 45%;
    left: 20%;
    width: 75%;
    height: 55%;
    transform: matrix(1, -0.5, 0, 1, 0, 0);
    background: transparent -webkit-radial-gradient(73% 73%, ellipse farthest-corner, #fff 6%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 30%);
    background: transparent radial-gradient(ellipse farthest-corner at 73% 73%, #fff 6%, rgba(255, 255, 255, 0.1) 25%, rgba(255, 255, 255, 0) 30%);
}

.raindrop8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border-top-left-radius: 0;
    box-shadow: inset rgba(191, 235, 255, 0.8) 0 0 12px;


}





// loop experiment
// // colors begin
// $colors: rgb(255,255,255), // white
//           rgb(255,0,0),     // red
//           rgb(135,206,250), // sky blue
//           rgb(255,255,0);   // yellow

// @each $color in $colors {
//     .for-#{$color} {
//         background-color: rgba($color, 0.6);

//         &:hover {
//             background-color: rgba($color, 1);
//             cursor: pointer;
//         }
//     }

// }
// // colors end


.all-dots {
    position: absolute;
    position: relative;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    z-index: 5000;
    float: left;
    background-color: rgba(0,0,0,0.5);
    &:hover {
        background-color: black;
    }
}


#target {
    // width: 1251px;
    width:925px;
}

// @for $i from 0 to 1000 {
//     #dot-#{$i} {
//         left: ($i * 5) + px;
//         top: 0px;
//         background-color: gray;
//     }

//     @if ($i > 370) {
//         $j: $i - 370;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 5px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 740) {
//         $j: $i - 740;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 10px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 1110) {
//         $j: $i - 1110;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 15px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 1480) {
//         $j: $i - 1480;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 20px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 1850) {
//         $j: $i - 1850;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 25px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 2220) {
//         $j: $i - 2220;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 30px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 2590) {
//         $j: $i - 2590;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 35px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 2960) {
//         $j: $i - 2960;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 40px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 3330) {
//         $j: $i - 3330;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 45px;
//             background-color: gray;
//         }
//     }


//     @if ($i > 3700) {
//         $j: $i - 3700;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 50px;
//             background-color: gray;
//         }
//     }


//     @if ($i > 4070) {
//         $j: $i - 4070;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 55px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 4440) {
//         $j: $i - 4440;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 60px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 4810) {
//         $j: $i - 4810;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 65px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 5180) {
//         $j: $i - 5180;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 70px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 5550) {
//         $j: $i - 5550;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 75px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 5920) {
//         $j: $i - 5920;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 80px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 6290) {
//         $j: $i - 6290;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 85px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 6660) {
//         $j: $i - 6660;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 90px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 7030) {
//         $j: $i - 7030;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 95px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 7400) {
//         $j: $i - 7400;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 100px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 7770) {
//         $j: $i - 7770;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 105px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 8140) {
//         $j: $i - 8140;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 110px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 8510) {
//         $j: $i - 8510;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 115px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 8880) {
//         $j: $i - 8880;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 120px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 9250) {
//         $j: $i - 9250;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 125px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 9620) {
//         $j: $i - 9620;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 130px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 9990) {
//         $j: $i - 9990;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 135px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 10360) {
//         $j: $i - 10360;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 140px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 10730) {
//         $j: $i - 10730;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 145px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 11100) {
//         $j: $i - 11100;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 150px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 11470) {
//         $j: $i - 11470;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 155px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 11840) {
//         $j: $i - 11840;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 160px;
//             background-color: gray;
//         }
//     }

//     @if ($i > 12210) {
//         $j: $i - 12210;

//         #dot-#{$i} {
//             left: ($j * 5) + px;
//             top: 165px;
//             background-color: gray;
//         }
//     }



// }
